.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mangas-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 600px;
  padding-top: 18px;
}

.single-manga {
  text-align: center;
  height: 350px;
  display: inline-block;
  margin-left: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-manga--image {
  height: 75%;
  padding: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
